<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/blogsifirdan.css">
</head>
<body>
    <section id="blog-heading">
        <div class="blog-header">
            <span class="blog-span">Blog</span>
        </div>
        <div class="blog-card">
            <div class="card">
                <div class="first-image"></div>
                <div class="card-text">
                    <h3>Flask nədir?</h3>
                </div>
                <a href="https://medium.com/pragmatech/flask-n%C9%99dir-c1acdf4d7fc3">Read More</a>
                <div class="second-image"></div>
                    <div class="card-text">
                    <h3>Mentor kimdir?</h3>
                </div>
                <a href="https://medium.com/@sabuhiq0/mentor-n%C9%99dir-1c82d60b5f90">Read More</a>
            </div>
        </div>
    </section>
</body>
</html>