body {
    font-family: 'Montserrat', sans-serif;
    line-height: 30px;
    margin: 0px;
    font-size: 15px;
    word-wrap: break-word;
    color: #767676;
}


/* Portfolio Styles */

.info-ul a {
    text-decoration: none;
    color: #767676;
    letter-spacing: 2px;
    text-align: left;
    font-size: 13px;
    font-weight: 600;
    padding: 20px;
}

.info-ul a:hover {
    color: #000;
    font-size: 15px;
    transition: all 0.25s;
    letter-spacing: 2px;
}

ul li {
    list-style: none;
    font: 15px;
}

ul>:first-child {
    color: #000;
}

.info {
    width: 210px;
}

.info a {
    padding: 5.8px 4px;
}

.heading {
    background-color: rgb(247, 248, 248);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 465px;
}

.portfolio {
    display: flex;
    flex-direction: column;
    width: 210px;
    padding: 0px 70px;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.info-ul {
    padding: 40px 0px 50px 0px;
    width: 100%;
    float: left;
    margin: 0px;
}


/* h3{
    padding-left: 60%;
    display: flex;
    color: #000;

} */

.social {
    color: #000;
    display: flex;
}

.social>div {
    padding: 0px 12px 0px 0px;
}

footer .end a {
    color: #787878;
    text-decoration: none;
    font-style: italic;
}

.img {
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
    background-size: cover;
    background-image: url(./img/1.jpg);
    border-radius: 50%;
    background-position: center;
    margin-right: 55px;
}

.about h3 {
    font-size: 48px;
    color: #000;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2.5px;
}

.heading span {
    box-sizing: border-box;
    /* padding-left: 15%; */
    color: #767676;
    margin-bottom: 20px;
}

i {
    color: #000;
    font-size: 15px;
    margin: 5px;
}


/* .social {
    display: flex;
    align-items: left;
} */

.social-all {
    display: flex;
    justify-content: left;
    margin-left: 6%;
    width: 500px;
}

.end a:hover {
    color: #000;
    font-size: 15px;
    transition: all 0.25s;
    letter-spacing: 2px;
}