body {
    font-family: 'Montserrat', sans-serif;
    line-height: 30px;
    margin: 0px;
    font-size: 15px;
    word-wrap: break-word;
    color: #767676;
}


/* Portfolio Styles */

.info-ul a {
    text-decoration: none;
    color: #767676;
    letter-spacing: 2px;
    text-align: left;
    font-size: 13px;
    font-weight: 600;
    padding: 20px;
}

.info-ul a:hover {
    color: #000;
    font-size: 15px;
    transition: all 0.25s;
    letter-spacing: 2px;
}

ul li {
    list-style: none;
    font: 15px;
}

ul>:first-child {
    color: #000;
}

.info {
    width: 210px;
}

.info a {
    padding: 5.8px 4px;
}

.heading {
    background-color: rgb(247, 248, 248);
    width: 100%;
    height: 100%;
    padding-left: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 465px;
}

.portfolio {
    display: flex;
    flex-direction: column;
    width: 210px;
    padding: 2% 70px 0 70px;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: hidden;
    background-color: white;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.info-ul {
    padding: 40px 0px 50px 0px;
    width: 100%;
    float: left;
    margin: 0px;
}

footer .end a {
    color: #787878;
    text-decoration: none;
    font-style: italic;
}

.about h3 {
    font-size: 48px;
    color: #000;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2.5px;
}

.heading span {
    box-sizing: border-box;
    /* padding-left: 15%; */
    color: #767676;
    margin-bottom: 20px;
}

.end a:hover {
    color: #000;
    font-size: 15px;
    transition: all 0.25s;
    letter-spacing: 2px;
}